.image--disciplines {
    filter:invert(1) brightness(0.8);
}

.img-border {
    border: 1px solid @white;
}

.img--npc-teaser{
    //border: 1px solid @white;
    border-radius: 100%;
    margin: 10px;
}